/*
* {
    border: 1px solid red;
}
*/


#header {
	z-index: 1;
	position: fixed;
	width: 97.5%;
	background-color: brown;
	margin: -2px auto auto 5px;
	border-radius: 5px;
	margin-bottom: 40px;
}

#header > div.row > h1 {
	margin-top: 5px;
	color: white;
	text-align: center;
	font-family: Garamond;
	font-weight: bold;
}

fieldset#enclose {
	margin-top: 500px;
	margin: auto;
	position: relative;
	border-radius: 5px;
	padding: auto 10px auto 10px;
	margin-bottom: 400px;
}

.left {
	position: relative;
	margin-top: 100px;
	border-radius: 5px;
	display: block;
	width: 30%;
	color: white;
	float: left;
	margin-bottom: 400px;
}

.left > div#photo > img {
	padding-top: 10px;
	margin-left: 30%;
	height: 200px;
	width: 200px;
	margin-bottom: 10px;
}

.left > div#photo > article {
	color: black;
	margin: auto;
	text-align: center;
	padding-left: 30%;
	text-align: center;
}

.right {
	position: relative;
	margin-top: 100px;
	border-radius: 5px;
	display: inline-block;
	float: right;
	height: 100px;
	width: 70%;
	margin-bottom: 400px;
}

.right > li {
  list-style: none;
  text-indent: -1em;
}

.right > table {
  border-collapse: separate;
  border-spacing: 20px 0;
}

.right > table td {
  padding: 5px 0;
}

#footer {
	padding-top: 5px;
	position: relative;
	border-radius: 5px;
	clear: both;
	width: auto;
	height: 50px;
	background-color: #668284;
	text-align: center;
	color: #ffffff;
}

#footer > p {
	text-align: center;
	margin-top: 5px;
}



#grad {
  background: -webkit-linear-gradient(90deg, #780206 10%, #061161 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #780206 10%, #061161 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #780206 10%, #061161 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #780206 10%, #061161 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #780206 10%, #061161 90%); /* W3C */
        
}
